/*
#################################################################################
Tools
#################################################################################
*/

.displayFlexJustifyContentAlignitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayFlexJustifyContentAlignitemsEnd {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.displayFlexJustifyContent {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: white !important;
}

h2::first-letter {
    text-transform: capitalize;
}

h3 {
    color: white !important;
}

h4 {
    text-transform: capitalize;
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    color: white !important;
}

h5 {
    margin: 0 !important;
    font-size: 14px !important;
    color: white !important;
}

p {
    margin: 0 !important;
    color: white !important;
}

p::first-letter {
    text-transform: capitalize;
}

tr {
    display: flex;
    justify-content: space-between;
}

.dNone {
    display: none !important;
}

/*
#################################################################################
Body
#################################################################################
*/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: none;
    border-bottom-right-radius: 500px;
    border: 1px none none;
}

body {
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 210, 210) !important;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(img/background.jpg) bottom/cover;
    background-attachment: fixed;
    align-items: center;
}

/*
#################################################################################
Header
#################################################################################
*/

header {
    background-color: rgb(254, 228, 98);
    width: 100%;
    padding: 16px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

header h1 {
    cursor: pointer;
}

.dropdown-toggle::after {
    margin-left: 0 !important;
}

.searchBar {
    height: 50px;
    width: 255px;
    outline: none;
    border-radius: 15px;
}

.searchArea {
    position: relative;
}

.outputSearchPoke {
    background: white;
    max-height: 300px;
    overflow-y: scroll;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 15px;
}

.searchResult {
    border-bottom: solid 1px black;
    padding-right: 16px;
    cursor: pointer;

}

.searchResult:hover {
    filter: drop-shadow(10px 2px 10px black);
}

/*
#################################################################################
Title screen
#################################################################################
*/

.titleScreen {
    font-family: 'Bowlby One SC' !important;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 140px;
    text-align: center;
    top: 200px;
    position: relative;
    cursor: pointer;
}

.titleScreen h1 {
    color: yellow;
    font-size: 140px;
    animation: myAnim 1s ease 0s 1 normal forwards;
    cursor: context-menu;
}

.titleScreen h2 {
    font-size: 50px;
    opacity: 0;
    animation: myAnim 1s ease 1s 1 normal forwards;
    cursor: pointer;
    position: unset !important;
}

.titleScreen h2:hover {
    filter: drop-shadow(2px 4px 6px black);

}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*
#################################################################################
Main section
#################################################################################
*/

.loadingScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 8;
    height: 150px;
}

#main {
    margin-top: 92px;
}

.goTopArrow {
    position: fixed;
    bottom: 24px;
    z-index: 8;
    filter: drop-shadow(2px 4px 6px black);
}

#pokemonList {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

.pokemonLayout {
    position: relative;
    height: 430px;
    width: 250px;
    margin: 16px;

}

.pokemonBackground {
    height: 250px;
    width: 250px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin: 4px;
}

.pokemonBackground:hover {
    Filter: drop-shadow(2px 4px 6px black);
}

.pokemonBackground h2 {
    position: absolute;
    top: 4px;
    left: 16px;
    color: white;
    z-index: 2;
    margin: 0;
}

.pokemonBackground img {
    height: 180px;
    position: absolute;
    top: 48px;
    z-index: 1;
}

.pokemonId {
    position: absolute;
    right: 16px;
    top: 24px;
    color: white;
}

.typeContainer {
    z-index: 5;
    position: absolute;
    top: 41px;
    left: 16px;
    display: flex;
}

/*
#################################################################################
Fullscreen view
#################################################################################
*/

.closeButton {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 0;
    opacity: 80%;
}

.closeButton:hover {
    opacity: 100%;

}

.fullscreenArrow {
    cursor: pointer;
    opacity: 80%;
}

.fullscreenArrow:hover {
    opacity: 100%;
}



.hideScrollbar {
    overflow-y: hidden
}

.statsName {
    width: 280px;
}

.information {
    font-size: 24px;
    color: white;
}

.infoButtonsDetails {
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.infoButtonsDetails:hover {
    text-decoration: underline;
}

.pokemonDetailsLayoutRight {
    width: inherit;
    margin: 16px;
}

.detailsRightSide {
    background-color: #00000061;
    height: 450px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    padding: 36px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.pokemonDetailsLayout {
    min-width: 100px;
    min-height: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonDetailsLayoutFullsscreen {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemonDetailsLayoutFullsscreen img {
    filter: drop-shadow(2px 4px 6px black);
}

.pokemonDetails {
    background-color: rgb(0, 0, 0);
    height: 590px;
    border-radius: 30px;
    display: flex;
    box-shadow: 5px 5px 18px 8px #000000;
    cursor: context-menu;
}

.detailsInfo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.detailsInfo div img {
    height: 30px;
}

.detailsInfo a {
    text-decoration: none;
}

.detailsInfo a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

/*---- Layout abilities ----*/

.abilitiesLayout {
    flex-wrap: wrap;
    display: flex;
    text-align: end;
}

/*---- Layout type ----*/

.typeDesign {
    background-color: rgb(255, 255, 255, 0.2);
    margin: 4px;
    padding: 6px;
    border-radius: 100px;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeContainerDetails {
    z-index: 5;
    top: 41px;
    left: 16px;
    display: flex;
}

.typeContainerDetails h4 {
    color: rgb(255, 255, 255) !important;
    font-size: 14px;
}

/*---- Layout image ----*/

.detailsImg {
    max-height: 350px;
    max-width: 350px;
    margin: 8px;
    border-radius: 30px;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.9));
}

/*---- Layout name ----*/

.pokemonName {
    display: flex;
    justify-content: space-between;
}

/*---- Layout tables ----*/

/* .statsTable {
    width: 580px;
} */


/*
#################################################################################
Fullscreen view
#################################################################################
*/

.evolutionImg {
    height: 80px;
}

.evolutionArrow {
    height: 30px;
    margin: 25px;

}

/*
#################################################################################
Background-color in searchbar and small view
#################################################################################
*/

.pokemonBackgroundNormal {
    background-color: #c7c5c5;
}

.pokemonBackgroundGrass {
    background-color: #57dac0;
}

.pokemonBackgroundFire {
    background-color: #fc6c6d;
}

.pokemonBackgroundWater {
    background-color: #72b9fc;
}

.pokemonBackgroundElectric {
    background-color: #ffd76f;
}

.pokemonBackgroundFight {
    background-color: #da9f57;
}

.pokemonBackgroundFlying {
    background-color: #57c9da;
}

.pokemonBackgroundPoison {
    background-color: #c257da;
}

.pokemonBackgroundGround {
    background-color: #dab957;
}

.pokemonBackgroundRock {
    background-color: #da9457;
}

.pokemonBackgroundBug {
    background-color: #96da57;
}

.pokemonBackgroundGhost {
    background-color: #9457da;
}

.pokemonBackgroundSteel {
    background-color: #acacac;
}

.pokemonBackgroundPsychic {
    background-color: #cd57da;
}

.pokemonBackgroundIce {
    background-color: #61ebe2;
}

.pokemonBackgroundDragon {
    background-color: #da57ac;
}

.pokemonBackgroundDark {
    background-color: #252525;
}

.pokemonBackgroundFairy {
    background-color: #f68ae3;
}

/*
#################################################################################
Background-color in fullscreen view
#################################################################################
*/

.pokemonBackgroundNormalView {
    background-color: #808080cc;
    ;
}

.pokemonBackgroundGrassView {
    background-color: #3a994deb;
}

.pokemonBackgroundFireView {
    background-color: #730202eb;
}

.pokemonBackgroundWaterView {
    background-color: #4879a8e8;
}

.pokemonBackgroundElectricView {
    background-color: #f8bb1ce0;
    ;
}

.pokemonBackgroundFightView {
    background-color: #da9f57;
}

.pokemonBackgroundFlyingView {
    background-color: #57c9da;
}

.pokemonBackgroundPoisonView {
    background-color: #ac3ec5cc;
    ;
}

.pokemonBackgroundGroundView {
    background-color: #b89c49ed;
}

.pokemonBackgroundRockView {
    background-color: #da9457;
}

.pokemonBackgroundBugView {
    background-color: #599f18d4;
    ;
}

.pokemonBackgroundGhostView {
    background-color: #9457da;
}

.pokemonBackgroundSteelView {
    background-color: #acacac;
}

.pokemonBackgroundPsychicView {
    background-color: #cd57da;
}

.pokemonBackgroundIceView {
    background-color: #61ebe2;
}

.pokemonBackgroundDragonView {
    background-color: #da57ac;
}

.pokemonBackgroundDarkView {
    background-color: #252525;
}

.pokemonBackgroundFairyView {
    background-color: #f68ae3;
}

/*
#################################################################################
Background in fullscreen view
#################################################################################
*/

.pokemonBackgroundNormalDetails {
    background-image: url('img/normal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.pokemonBackgroundGrassDetails {
    background-image: url('img/grass.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundFireDetails {
    background-image: url('img/fire.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundWaterDetails {
    background-image: url('img/water.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundElectricDetails {
    background-image: url('img/electric.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundFightDetails {
    background-image: url('img/fight.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundFlyingDetails {
    background-image: url('img/flying.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundPoisonDetails {
    background-image: url('img/poison.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundGroundDetails {
    background-image: url('img/ground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundRockDetails {
    background-image: url('img/rock.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundBugDetails {
    background-image: url('img/bug.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundGhostDetails {
    background-image: url('img/ghost.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundSteelDetails {
    background-image: url('img/steel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundPsychicDetails {
    background-image: url('img/psychic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundIceDetails {
    background-image: url('img/ice.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundDragonDetails {
    background-image: url('img/dragon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonBackgroundDarkDetails {
    background-image: url('img/dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

.pokemonBackgroundFairyDetails {
    background-image: url('img/fairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

/*
#################################################################################
Responsive
#################################################################################
*/

@media (max-width: 1279px) {
    .detailsRightSide {
        padding: 16px;
    }

    .pokemonDetails {
        width: 379px;

    }

    .pokemonDetailsLayoutRight {
        width: -webkit-fill-available;
    }


    .statsName {
        width: 175px;
    }

    .progress {
        width: 80px;
        margin-top: 4px;
        height: 8px !important;
    }

    .secondEvolutionImg {
        right: 135px;
    }

    .evolutionArrow {
        height: 8px;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

}

@media (max-width: 768px) {

    .detailsImg {
        display: none;
    }

    header h1 {
        display: none;
    }

    .titleScreen h1 {
        font-size: 88px;
    }

    .titleScreen h2 {
        font-size: 30px;
    }

    .pokemonDetailsLayout {
        flex-direction: column;
    }

    .detailsImg {
        max-height: 190px;
    }

    .pokemonDetails {
        height: 553px;
    }

    .detailsRightSide {
        height: 454px;
    }

    .firstEvolutionImg {
        top: 6px;
    }

    .thirdEvolutionImg {
        top: 6px;
    }

}

@media (max-width: 480px) {

    #myChart {
        width: 190px !important;
        height: 190px !important;
    }

    .closeButton {
        right: 10px;
    }

    .evolutionImg {
        height: 50px;
    }

    .shinyPokemon {
        height: 180px !important;
    }

    .fullscreenArrow {
        display: none;
    }

    .detailsImg {
        display: none;
    }

    .pokemonDetails {
        width: 250px;
    }

    .firstEvolutionImg {
        height: 40px;
    }

    .secondEvolutionImg {
        height: 40px;
        right: 90px;
    }

    .thirdEvolutionImg {
        height: 40px;
    }

    h4 {
        font-size: 16px !important;
    }

    .information {
        font-size: 16px;
    }

    .detailsRightSide {
        padding: 8px;
        height: 415px;
    }

    .statsName {
        width: 123px;
    }

    .pokemonName {
        flex-wrap: wrap;
    }

    .titleScreen h1 {
        font-size: 50px;
    }

    #loadingScreen {
        height: 150px;
    }

    .titleScreen {
        top: 115px;
    }

    .displayFlexJustifyContent {
        align-items: center;
    }

    .searchBar {
        width: 185px;
    }
}